body{
    text-align: center;
    background-color: rgb(159, 223, 86);
    font-family: 'Courier New', Courier, monospace;
    border-left: groove;
    border-right: ridge;
    border-width: 200px;
    border-color: rgba(75, 0, 128, 0.762);
    margin: 0;
}
img{
    width: 500px;
    height: 200px;
    resize: both;
    padding: 10px;
}